<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="zoomify.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    

</head>
<body>
    
<div class="cotainer">
    <table class="table table-bordered table-danger">
        <thead>
            <tr>
                <th>Titulo</th>
                <th>lunes</th>
                <th>Martes</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <div>
                        <img src="foto.png" class="zoomify" alt="" width="150">
                    </div>
    
                </td>
                <td>
                    <div>
                        <img src="foto.png" class="zoomify" alt="" width="150">
                    </div>
                </td>
                <td>
                    <div>
                        <img src="foto.png" class="zoomify" alt="" width="150">
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
   
        <script src="zoomify.js"></script>
    <script>
         $(document).ready(function () {
                 let x=$('.zoomify').zoomify();
         });
    </script>
</body>
</html>
