/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
ayudas/client_secret_665383708063-nn4sqldc8pmj4b6qfskvnana3kn9brci.apps.googleusercontent.com.json
