.interactive-map {
    padding: 40px;
    background-color: rgb(55, 95, 122);
    color: white;
    text-align: center;
  }
  
  .interactive-map h2 {
    font-size: 2rem;
    color: rgb(38, 186, 165);
    margin-bottom: 10px;
  }
  
  .interactive-map p {
    margin-bottom: 20px;
    font-size: 1.2rem;
  }
  
  #map {
    width: 100%;
    height: 500px;
    border: 2px solid rgb(38, 186, 165);
    border-radius: 8px;
    margin: 0 auto;
  }
  