.sidebar-dark-blue{
        background: #455279 !important;
        
}
.nav-link:hover{
    color:red;
}  
.nav-item{
 color:red;
}  
.menu-is-opening{
 color:red;
} 
.menu-open{
 color:red;
}
.has-treeview{
  color:red;   
}