#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

.turqueza_suave{
    background-color: rgba(68,186,165,0.3);
}

.azul_suave{
    background-color: rgba(55,95,122,0.3);
}
