/*barra superior informativa*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.date-banner {
    background-color: rgb(24, 57, 80);
    color: #fff; /* Color de texto en blanco para mejor contraste */
    padding: 15px;
    text-align: center;
    position: fixed;
    width: 250px; /* Ajusta el ancho según tus necesidades */
    top: 80px;
    right: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.01);
    z-index: 1000; /* Asegura que el banner esté por encima de otros elementos */
    animation: pulse 1.5s infinite; /* Animación pulsante */
}

/* Animación de pulso para el banner */
@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.05);
        opacity: 0.9;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.date-banner h2 {
    margin: 0;
    font-size: 24px;
}

.date-banner p {
    margin: 5px 0;
    font-size: 16px;
    font-weight: bold; /* Hace el texto más destacado */
}

.whatsapp-button {
    background-color: #25D366;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    text-transform: uppercase; /* Hace el texto del botón en mayúsculas */
    font-weight: bold; /* Hace el texto del botón más destacado */
    margin-top: 10px; /* Espacio arriba del botón */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Transiciones suaves para el cambio de color y transformación */
}
#date-title{
    color: #25D366;
}

.whatsapp-button:hover {
    background-color: #1DA851;
    transform: scale(1.1); /* Agranda el botón al pasar el mouse */
}

/* Estilos específicos para pantallas más pequeñas (móviles) */
@media (max-width: 767px) {
    .date-banner {
        width: 100%; /* Hace que el banner ocupe todo el ancho en dispositivos móviles */
        top: 60px; /* Ajusta la distancia desde el top para que esté debajo de la barra de navegación */
        right: 0;
        position: relative; /* Cambia la posición a relativa en móviles */
    }
}

/*barra superior informativa*/


.whatsapp-link {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    color: #fff;
    background-color: #25D366; /* WhatsApp green */
    text-decoration: none;
    border-radius: 5px;
    font-size: 1em;
}

.whatsapp-link:hover {
    background-color: #0dc131; /* Darker green on hover */
}


/*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%  seccion titulo parrafo image %%%%%%%%%%%%%%%%%%%%%%% */
.academic-excellence { 
    background-color: #f5f5f5; /* Fondo claro */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0; /* Espaciado superior e inferior mínimo */
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap; /* Ajuste para pantallas pequeñas */
    max-width: 1200px; /* Limitar el ancho máximo */
    margin: 0 auto; /* Centrar el contenedor */
}

.content-box {
    flex: 1;
    max-width: 45%; /* Contenido textual ocupa el 45% */
    padding: 10px; /* Espaciado interno ajustado */
}

.section-title {
    font-size: 28px; /* Tamaño de fuente ajustado */
    color: #263c53;
    font-weight: 700;
    margin-bottom: 10px; /* Margen ajustado */
}

.section-description {
    font-size: 14px; /* Tamaño de fuente más pequeño para reducir espacio */
    color: #26baa5;
    line-height: 1.4; /* Ajuste de interlineado */
    margin-bottom: 10px; /* Reducido para ajustar espacio */
}

.button-container {
    margin-top: 5px; /* Espacio reducido */
}

.cta-button {
    padding: 10px 20px; /* Espaciado interno reducido en el botón */
    background-color: #26baa5;
    color: white;
    border: 2px solid #fff;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    text-decoration: none; /* Sin subrayado */
}

.cta-button:hover {
    background-color: #218a80;
    color: white;
    border-color: #218a80;
}

.image-box {
    flex: 1;
    max-width: 50%; /* Imagen ocupa hasta el 50% */
    display: flex;
    justify-content: center;
}

.hero-image {
    max-width: 80%; /* Ajuste de imagen */
    height: auto;
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 20px rgba(152, 15, 15, 0.05); /* Sombra suave */
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
    .academic-excellence {
        padding: 10px 0; /* Espacio superior reducido en pantallas pequeñas */
    }

    .container {
        flex-direction: column; /* Apilar en pantallas pequeñas */
        text-align: center; /* Centra el contenido */
    }

    .image-box, .content-box {
        max-width: 100%; /* Ocupa todo el ancho */
    }

    .hero-image {
        width: 80%; /* Tamaño de imagen ajustado */
    }
}
