@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Bree+Serif);

h1{
  font-family: 'Bree Serif', serif;
  font-size: 32px;
  color: #263c53;
}
 body {
  background: #26baa5;
  font-size:12px;
  line-height: 20px;
  color: #ffffff;
  word-wrap:break-word !important;
  font-family: 'Open Sans', sans-serif;
} 

a {
  color: #FFF;
}

#contenedor {
  margin: 0 auto;
}

p {
  text-align: center;
}

nav {
  margin: 40px auto;
  background-color: #26baa5;
  /* box-shadow: 0px 3px 20px 3px #26baa5; */
}

nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    text-align: center;
}
  
nav ul li {
  display:inline-block;
  background-color: #26baa5;
  position: relative; /* Necesario para los submenús anidados */
}

nav a {
  display:block;
  padding:0 1px; 
  color:#FFF;
  font-size:12px;
  line-height: 60px;
  text-decoration:none;
}

nav a:hover { 
  background-color: rgb(55,95,122); 
  color: #ffffff;
}

/* Ocultar submenús por defecto */
nav ul ul {
  display: none;
  position: absolute; 
  top: 60px; /* La altura del menú principal */
  background-color: #26baa5;
}

/* Mostrar submenú en hover */
nav ul li:hover > ul {
  display: block;
}

/* Primer nivel del submenú */
nav ul ul li {
  width:120px;
  float:none;
  display:list-item;
  position: relative;
  color: #FFF;

}

/* Segundo nivel (submenú dentro de otro submenú) */
nav ul ul ul {
  top: 0; 
  left: 120px; /* Desplazar hacia la derecha */
}

/* Estilo para los elementos del menú */
nav ul ul li a {
  padding: 0px;
  line-height: 30px;
  background-color: #26baa5;
  text-align: left;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}


nav ul ul li a:hover {
  background-color: rgb(55,95,122);
}

/* Iconos de flecha para indicar el submenú */
i {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 4px;
    margin: -7px 0 0px 7px;
    vertical-align: middle;
}


/* Icono de flecha hacia abajo */
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

/* Icono de flecha hacia la derecha */
.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

/* Estilo para evitar que los submenús desaparezcan antes de ser clickeados */
nav ul li:hover > ul, 
nav ul ul li:hover > ul {
  display: block;
}
nav {
  margin: 30px auto;
  background-color: #26baa5;
  box-shadow: 0px 3px 20px 3px #26baa5;
  position: relative; /* Necesario para que z-index funcione */
  z-index: 9999; /* Asegura que el menú esté por encima de otros elementos */
}
a{
  /*margin: 0 10px;*/
  padding-left: 2px;
}

/*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% SEPARADOR %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
.separador {
  
  height: 100px;
  background-color: #FFF; /* Color del separador */
}